@using NodaTime;
@namespace TodoApp.Components

@inject IDateTimeZoneProvider tzProvider;

<div class="container">
    <div class="form-group">
        <input class="form-control" type="text" @bind="@Item.Title" />
    </div>
    <div class="form-check">
        <label for="@_checkboxId">
            <input id="@_checkboxId" type="checkbox" @bind="@Item.Done" class="form-check-input" />
            Done
        </label>
    </div> 
    <div class="form-group">
        Due <DateTimePicker @bind-DateTimeValue="@Due" @bind-DateTimeValue:event="DateTimeValueChanged" />
    </div>
    <div class="form-group">
        Created on <DateTimeDisplay DateValue="Item.GetCreated(tzProvider)" />
    </div>
    <div claass="form-group">
        <textarea @bind="@Item.Notes" rows="5"></textarea>
    </div>
</div>


@code {
    [Parameter]
    public TodoItem Item { get; set; }

    public ZonedDateTime? Due 
    { 
        get => Item.GetDue(tzProvider);
        set => Item.SetDue(value);
    }

    private readonly string _checkboxId = Guid.NewGuid().ToString();
}